<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to EmployeeController.create or EmployeeController.update,
     depending on whether we are creating or editing an entity -->
<form th:method="POST" th:action="@{'/books/{id}' (id=${books?.id})}">
    <div>
        <label for="f1">Name</label>
        <input type="text"
               id="f1"
               name="name"
               th:value="${books?.name}"
               required>
    </div>
    <div>
        <label for="f3">AvailableCopies</label>
        <!-- Do not set the value here -->
        <input type="password"
               id="f3"
               name="copies"
               required>
    </div>
    <div>
        <label>Category</label><br/>
        <select id="f4" name="category">
            <!-- For each type you should have one <option> like below  -->
            <option th:each="t: ${category}" th:value="${t}"  th:text="${t}"> [type_name]</option>

        </select>
    </div>
    <div>
        <label>Authors</label><br/>
        <select id="f5" name="authorID"  multiple>
            <!-- For each skill you should have one <option> like below  -->
            <option value="[author.id]" th:each="sk: ${authors}"  th:value="${sk.id}" th:text="${sk.name}"
                    th:selected="${books?.author?.contains(sk)}"> [skill.name]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/books" type="button" class="btn btn-primary">Back to books</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
